* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  font-family: sans-serif;
}

main {
  display: block;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

button > * {
  position: relative;
}
button::before, button::after {
  position: relative;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "M PLUS 1p", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  min-width: 320px;
  color: #3c2a10;
  background-color: #fffdfa;
}

.l-header {
  position: relative;
  padding: 40px 27px;
  background-color: #fff7ef;
}
@media screen and (min-width: 1280px) {
  .l-header {
    width: calc(100% - 367px);
    padding: 65px 30px 65px 65px;
  }
}
@media screen and (min-width: 1280px) {
  .l-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.l-header__ttl {
  text-align: center;
  margin: 0 0 38px 0;
}
@media screen and (min-width: 1280px) {
  .l-header__ttl {
    margin: 0 40px 0 0;
  }
}
.l-header__ttl a {
  text-decoration: none;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  line-height: 1.325;
}
@media screen and (min-width: 1280px) {
  .l-header__ttl a {
    font-size: 6.4rem;
    line-height: 1.3125;
  }
}
.l-header__search {
  width: 100%;
  max-width: 545px;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .l-header__search {
    margin: 0;
  }
}
.l-header__search form {
  width: 100%;
  display: flex;
}
.l-header__input {
  position: relative;
  flex: 1;
}
.l-header__input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon_search.svg") no-repeat center;
  background-size: 24px 24px;
}
.l-header__input input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 11px 11px 11px 50px;
  outline: none;
}
.l-header__submit {
  width: 78px;
  padding: 11px 16px;
  margin-left: 12px;
  color: #707070;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  background: linear-gradient(to bottom, #f2ede9, #ded8d3);
  border-radius: 10px;
  border: 1px solid #707070;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .l-header__submit {
    width: 136px;
  }
}
.l-header__menuToggle {
  position: absolute;
  top: 14px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .l-header__menuToggle {
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .l-header__menuToggle {
    display: none;
  }
}
.l-header__menuToggle button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  color: #707070;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .l-header__menuToggle button {
    font-size: 3.4rem;
    line-height: 1.3235294118;
  }
}

.l-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  color: #707070;
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 1280px) {
  .l-menu {
    position: absolute;
    width: 367px;
    height: calc(100% - 154px);
    visibility: visible;
    opacity: 1;
  }
}
.l-menu.is-active {
  visibility: visible;
  opacity: 1;
}
.l-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1280px) {
  .l-menu__bg {
    display: none;
  }
}
.l-menu__inner {
  position: relative;
  width: 87.4666667%;
  max-width: 367px;
  height: 100%;
  margin-left: auto;
  padding: 212px 22px 100px 46px;
  background-color: #f2ede9;
  overflow-y: auto;
  z-index: 1;
  top: 0;
  right: -100%;
}
@media screen and (min-width: 1280px) {
  .l-menu__inner {
    width: 100%;
    max-width: 100%;
    right: 0;
  }
}
.l-menu__inner.is-active {
  right: 0;
}
.l-menu__close {
  position: absolute;
  top: 25px;
  right: 17px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .l-menu__close {
    display: none;
  }
}
.l-menu__close span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #707070;
}
.l-menu__close span:nth-of-type(1) {
  transform: translateY(3px) rotate(45deg);
}
.l-menu__close span:nth-of-type(2) {
  transform: translateY(-3px) rotate(-45deg);
}
.l-menu__ttl {
  display: none;
}
@media screen and (min-width: 1280px) {
  .l-menu__ttl {
    display: block;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 82px;
    left: 46px;
    font-size: 3.4rem;
    line-height: 1.3235294118;
  }
}
.l-menu__list > li {
  margin-top: 35px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.5;
}
.l-menu__list > li:first-child {
  margin-top: 0;
}
.l-menu__list > li > a {
  text-decoration: none;
}
.l-menu__listLv2 {
  margin-top: 40px;
}
.l-menu__listLv2 li {
  margin-top: 22px;
  text-indent: 0.8em;
}
.l-menu__listLv2 li:first-child {
  margin-top: 0;
}
.l-menu__listLv2 li a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  .l-main {
    width: calc(100% - 367px);
  }
}

.l-cont {
  width: calc(100% - 40px);
  max-width: 1330px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-cont {
    width: calc(100% - 80px);
  }
}
@media screen and (min-width: 1280px) {
  .l-cont {
    width: 85.8338699%;
  }
}
.l-cont > *:last-child {
  margin-bottom: 0;
}

.l-footer {
  padding: 40px 20px 30px;
  color: #fff;
  background: url("../images/footer_bg.png") no-repeat center;
  background-size: cover;
}
.l-footer__linkList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .l-footer__linkList {
    flex-wrap: nowrap;
  }
}
.l-footer__linkList li {
  position: relative;
}
.l-footer__linkList li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 60%;
  background-color: currentColor;
}
.l-footer__linkList li:nth-child(2n-1)::before {
  content: none;
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:nth-child(2n-1)::before {
    content: "";
  }
}
.l-footer__linkList li:nth-child(2n-1) a {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:nth-child(2n-1) a {
    padding-left: 15px;
  }
}
.l-footer__linkList li:nth-child(2n) a {
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:nth-child(2n) a {
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:first-child::before {
    content: none;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:first-child a {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__linkList li:last-child a {
    padding-right: 0;
  }
}
.l-footer__linkList li a {
  display: block;
  text-decoration: none;
  padding: 0 15px;
  font-size: 2rem;
  line-height: 1.5;
}
.l-footer__copy {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4285714286;
}

.heading, .c-lv4Heading, .c-lv5Heading, .c-lv6Heading, .c-lv3Heading, .c-lv2Heading {
  width: 100%;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .heading, .c-lv4Heading, .c-lv5Heading, .c-lv6Heading, .c-lv3Heading, .c-lv2Heading {
    margin-bottom: 60px;
  }
}

.c-lv2Heading {
  font-size: 2.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-lv2Heading {
    font-size: 3.6rem;
    line-height: 1.5;
  }
}

.c-lv3Heading {
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-lv3Heading {
    font-size: 2.8rem;
    line-height: 1.5;
  }
}

.c-txt {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .c-txt {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .c-txt {
    margin-bottom: 70px;
  }
}

.p-homeMv {
  width: 100%;
  height: 74.6666667vw;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background: url("../images/front-page/mv_bg_sp.jpg") no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-homeMv {
    padding: 0 86px;
    background-image: url("../images/front-page/mv_bg_pc.jpg");
    height: 34.1726619vw;
    max-height: 530px;
  }
}
.p-homeMv__ttl {
  color: #fff;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .p-homeMv__ttl {
    font-size: 4rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .p-homeCardUnit {
    display: flex;
    flex-wrap: wrap;
  }
}
.p-homeCardUnit .p-homeCard {
  margin: 20px 0 0 0;
}
.p-homeCardUnit .p-homeCard:first-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .p-homeCardUnit--col2 .p-homeCard {
    width: calc((100% - 40px) / 2);
    margin: 40px 0 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeCardUnit--col2 .p-homeCard {
    width: 46.992481205%;
    margin: 6.01503759% 0 0 6.01503759%;
  }
}
@media screen and (min-width: 768px) {
  .p-homeCardUnit--col2 .p-homeCard:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .p-homeCardUnit--col2 .p-homeCard:nth-child(2n+1) {
    margin-left: 0;
  }
}

.p-homeCard {
  width: 100%;
  min-height: 642px;
}
@media screen and (min-width: 768px) {
  .p-homeCard {
    min-height: 681px;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeCard {
    min-height: 62.1354167vw;
  }
}
.p-homeCard--takeOut {
  background: url("../images/front-page/takeout_bg.jpg") no-repeat center;
  background-size: cover;
}
.p-homeCard--takeOut .p-homeCard__head {
  color: #eaeaea;
}
.p-homeCard--eatIn {
  background: url("../images/front-page/eatin_bg.jpg") no-repeat center;
  background-size: cover;
}
.p-homeCard__inner {
  width: 100%;
  min-height: 642px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .p-homeCard__inner {
    min-height: 100%;
  }
}
.p-homeCard__head {
  display: block;
  margin-bottom: 40px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
  line-height: 1.3170731707;
}
@media screen and (min-width: 768px) {
  .p-homeCard__head {
    font-size: 4.4rem;
    line-height: 1.3181818182;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeCard__head {
    font-size: 4.16666667vw;
    line-height: 1.325;
  }
}
@media screen and (min-width: 1920px) {
  .p-homeCard__head {
    font-size: 8rem;
    line-height: 1.325;
  }
}
.p-homeCard__head::after {
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  margin-top: 19px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .p-homeCard__head::after {
    width: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeCard__head::after {
    width: 0.788em;
    max-width: 63px;
  }
}
.p-homeCard__body .p-homeCard__box {
  margin-top: 10px;
}
.p-homeCard__body .p-homeCard__box:first-child {
  margin-top: 0;
}
.p-homeCard__box {
  min-height: 162px;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  .p-homeCard__box {
    min-height: 172px;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeCard__box {
    min-height: 9.0625vw;
  }
}
.p-homeCard__ttl {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-homeCard__ttl {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.p-homeCard__txt {
  font-size: 1.6rem;
  line-height: 1.4375;
}
.p-homeCard__txt a {
  text-decoration: none;
}

.p-homeMap {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.p-homeMap__inner {
  width: 100%;
  height: 100%;
  background: url("../images/front-page/map_bg_sp.png") no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-homeMap__inner {
    background-image: url("../images/front-page/map_bg_pc.png");
  }
}
.p-homeMap__cont {
  position: relative;
  color: #fff;
  padding: 40px 40px 50px 40px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-homeMap__cont {
    padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeMap__cont {
    width: 61.1719253%;
    padding: 4.16666667vw 6.25vw;
  }
}
@media screen and (min-width: 1920px) {
  .p-homeMap__cont {
    padding: 80px 120px;
  }
}
.p-homeMap__cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-homeMap__cont::before {
    height: 100%;
  }
}
.p-homeMap__ttl {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .p-homeMap__ttl {
    margin-bottom: 64px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
.p-homeMap__ttl::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  margin-top: 20px;
  background-color: currentColor;
}
@media screen and (min-width: 1280px) {
  .p-homeMap__ttl::after {
    margin-top: 56px;
  }
}
.p-homeMap__txt {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.3571428571;
}
@media screen and (min-width: 1280px) {
  .p-homeMap__txt {
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}

.p-homeSect {
  padding: 20px 0 50px;
}
@media screen and (min-width: 768px) {
  .p-homeSect {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1280px) {
  .p-homeSect {
    padding: 7.72698004% 0;
  }
}

.p-archiveMv {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.p-archiveMv__ttl {
  position: absolute;
  top: 50%;
  left: 37px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  line-height: 1.3333333333;
}
@media screen and (min-width: 768px) {
  .p-archiveMv__ttl {
    left: 86px;
    flex-direction: row;
    align-items: center;
    font-size: 6rem;
    line-height: 1.3166666667;
  }
}
.p-archiveMv__ttl span {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  margin: 7px 0 0 0;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .p-archiveMv__ttl span {
    margin: 0 0 0 20px;
  }
}
.p-archiveMv__bg {
  width: 834px;
  height: 283px;
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .p-archiveMv__bg {
    width: 100%;
    height: 33.9328537vw;
  }
}
@media screen and (min-width: 1280px) {
  .p-archiveMv__bg {
    height: 15.3895686vw;
    max-height: 239px;
  }
}
.p-archiveMv__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-productList li {
  margin-top: 20px;
}
.p-productList li:first-child {
  margin-top: 0;
}

.p-productItem {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-productItem {
    display: flex;
  }
}
.p-productItem__imgWrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-productItem__imgWrap {
    width: 50%;
  }
}
.p-productItem__imgWrap img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-productItem__body {
  background-color: #3c2b1c;
  color: #fff;
  padding: 30px 17px 44px;
}
@media screen and (min-width: 768px) {
  .p-productItem__body {
    width: 50%;
    padding: 30px 35px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-productItem__body {
    padding: 53px 63px 60px;
  }
}
.p-productItem__name {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .p-productItem__name {
    margin-bottom: 47px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
.p-productItem__cont h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 1280px) {
  .p-productItem__cont h2 {
    margin-bottom: 17px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.p-productItem__btn {
  display: block;
  width: 163px;
  margin: 40px auto 0;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  color: #707070;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.0625;
}
@media screen and (min-width: 1280px) {
  .p-productItem__btn {
    width: 292px;
    padding: 27px 10px;
    border-radius: 40px;
    font-size: 1.6rem;
    line-height: 2.0625;
    margin: 60px auto 0;
  }
}

.p-sect {
  padding: 30px 0 60px;
}
@media screen and (min-width: 768px) {
  .p-sect {
    padding: 40px 0 100px;
  }
}
@media screen and (min-width: 1280px) {
  .p-sect {
    padding: 60px 0 150px;
  }
}
.p-sect--lg {
  padding: 30px 0 180px;
}
@media screen and (min-width: 768px) {
  .p-sect--lg {
    padding: 60px 0 230px;
  }
}
@media screen and (min-width: 1280px) {
  .p-sect--lg {
    padding: 60px 0 350px;
  }
}

.p-pager {
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  color: #707070;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-pager {
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .p-pager {
    margin: 0 auto 64px;
  }
}
.p-pager__left {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pager__left {
    display: block;
    margin-right: 19px;
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}
.p-pager__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .p-pager__right {
    width: auto;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .p-pager__right li {
    margin-left: 15px;
  }
}
.p-pager__right li:first-child {
  margin-left: 0;
}
.p-pager__right li .is-current {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pager__right li .is-current {
    background-color: #3c2b1c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #707070;
    padding: 7px 13px;
  }
}
.p-pager__prev, .p-pager__next {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.p-pager__prev span, .p-pager__next span {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .p-pager__prev span, .p-pager__next span {
    display: none;
  }
}
.p-pager__prev::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.593' height='17.772' viewBox='0 0 18.593 17.772'%3E%3Cg transform='translate(-413.583 -2250.646)'%3E%3Cpath d='M410.47,5468.419l-8.886-8.886,8.886-8.886.707.707L403,5459.533l8.179,8.179Z' transform='translate(12 -3200)' fill='%23707070'/%3E%3Cpath d='M410.47,5468.419l-8.886-8.886,8.886-8.886.707.707L403,5459.533l8.179,8.179Z' transform='translate(21 -3200)' fill='%23707070'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: 17px 17px;
}
.p-pager__next::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 8px;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.593' height='17.772' viewBox='0 0 18.593 17.772'%3E%3Cg transform='translate(432.177 2268.419) rotate(180)'%3E%3Cpath d='M410.47,5468.419l-8.886-8.886,8.886-8.886.707.707L403,5459.533l8.179,8.179Z' transform='translate(12 -3200)' fill='%23707070'/%3E%3Cpath d='M410.47,5468.419l-8.886-8.886,8.886-8.886.707.707L403,5459.533l8.179,8.179Z' transform='translate(21 -3200)' fill='%23707070'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: 17px 17px;
}
.p-pager__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pager__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #707070;
    padding: 7px 13px;
  }
}

.p-pageMv {
  position: relative;
  width: 100%;
}
.p-pageMv__ttl {
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 700;
  padding-right: 26px;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-pageMv__ttl {
    left: 86px;
    padding-right: 86px;
    font-size: 6rem;
    line-height: 1.4833333333;
  }
}
.p-pageMv__bg {
  width: 100%;
  height: 60vw;
}
@media screen and (min-width: 768px) {
  .p-pageMv__bg {
    height: 59.9520384vw;
    max-height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .p-pageMv__bg {
    height: 26.0416667vw;
  }
}
.p-pageMv__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-details > *:last-child {
  margin-bottom: 0;
}
.p-details h2, .p-details h3, .p-details h4, .p-details h5, .p-details h6 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-details h2, .p-details h3, .p-details h4, .p-details h5, .p-details h6 {
    margin-bottom: 60px;
  }
}
.p-details h2 {
  font-size: 2.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-details h2 {
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
.p-details h3 {
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-details h3 {
    font-size: 2.8rem;
    line-height: 1.5;
  }
}
.p-details p {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .p-details p {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .p-details p {
    margin-bottom: 70px;
  }
}
.p-details blockquote {
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .p-details blockquote {
    padding: 50px;
    margin-bottom: 60px;
  }
}
.p-details blockquote p {
  font-size: 1.6rem;
  line-height: 1.4375;
}
.p-details blockquote cite {
  margin-top: 30px;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .p-details blockquote cite {
    margin-top: 60px;
  }
}
.p-details blockquote cite a {
  display: inline-block;
  color: #4a6c9b;
  text-decoration: underline;
  margin-left: 5px;
}
.p-details ul, .p-details ol {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details ul, .p-details ol {
    margin-bottom: 60px;
  }
}
.p-details ul li, .p-details ol li {
  font-size: 1.6rem;
  line-height: 1.4375;
}
.p-details ul li ul, .p-details ul li ol, .p-details ol li ul, .p-details ol li ol {
  padding-left: 1em;
  margin: 20px 0;
}
.p-details ol {
  counter-reset: number 0;
}
.p-details ol li::before {
  counter-increment: number 1;
  content: counter(number) ".";
}
.p-details ol li > ol {
  padding-left: 1.3em !important;
  counter-reset: number 0;
}
.p-details ol li > ol li::before {
  counter-increment: number 1;
  content: counter(number) ".";
}
.p-details pre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 10px 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details pre {
    margin-bottom: 60px;
  }
}
.p-details pre code {
  width: 100%;
  padding: 50px;
}
.p-details table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #707070;
}
@media screen and (min-width: 768px) {
  .p-details table {
    margin-bottom: 60px;
  }
}
.p-details table tr:last-child td {
  border-bottom: none;
}
.p-details table td {
  padding: 30px;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  font-size: 1.6rem;
  line-height: 1.4375;
}
.p-details table td:first-of-type {
  width: 40.2985075%;
}
@media screen and (min-width: 768px) {
  .p-details table td:first-of-type {
    width: 30.1542777%;
  }
}
@media screen and (min-width: 1280px) {
  .p-details table td:first-of-type {
    width: 31.7073171%;
  }
}
.p-details table td:last-of-type {
  border-right: none;
}
.p-details .wp-block-buttons {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details .wp-block-buttons {
    margin-bottom: 60px;
  }
}
.p-details .wp-block-buttons .wp-block-button {
  display: inline-block;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .p-details .wp-block-buttons .wp-block-button {
    width: auto;
    min-width: 430px;
  }
}
.p-details .wp-block-buttons .wp-block-button__link {
  width: 100%;
  display: inline-block;
}
.p-details .wp-block-image {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details .wp-block-image {
    margin-bottom: 60px;
  }
}
.p-details .wp-block-image img {
  vertical-align: bottom;
}
.p-details .wp-block-media-text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details .wp-block-media-text {
    margin-bottom: 60px;
  }
}
.p-details .wp-block-gallery {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-details .wp-block-gallery {
    margin-bottom: 60px;
  }
}
.p-details .wp-block-column .wp-block-image {
  margin-bottom: 0;
}

.u-ovh {
  overflow: hidden !important;
}

@media screen and (min-width: 768px) {
  .u-spOnly {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  .u-spOnly02 {
    display: none !important;
  }
}

.u-pcOnly {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .u-pcOnly {
    display: block !important;
  }
}

.u-pcOnly02 {
  display: none !important;
}
@media screen and (min-width: 1280px) {
  .u-pcOnly02 {
    display: block !important;
  }
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-transition {
  transition: all 0.3s;
}

