@use '../../foundation' as f;

.heading {
  width: 100%;
  margin-bottom: 30px;

  @include f.fsz(20, 30);
  @include f.mq(md) {
    margin-bottom: 60px;
  }
}

.c-lv2Heading {
  @extend .heading;

  @include f.fsz(28, 42);
  @include f.mq(md) {    
    @include f.fsz(36, 54);
  }
}
.c-lv3Heading {
  @extend .heading;

  @include f.fsz(24, 36);
  @include f.mq(md) {    
    @include f.fsz(28, 42);
  }
}
.c-lv4Heading, .c-lv5Heading, .c-lv6Heading {
  @extend .heading;
}