@use '../../foundation' as f;

.c-img {
  text-align: center;
  margin-bottom: 30px;

  @include f.mq(md) {
    margin-bottom: 60px;
  }
  &--full {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &--sm {
    width: 79.70149253731343%;
    margin: 0 auto 30px;

    @include f.mq(md) {
      width: auto;
      max-width: 100%;
      margin: 0 auto 60px
    }
  }
  img {
    vertical-align: bottom;
  }
}