@use '../../foundation' as f;

.p-homeMv {
  width: 100%;
  height: 74.6666667vw;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background: url('/src/common/images/front-page/mv_bg_sp.jpg') no-repeat center;
  background-size: cover;

  @include f.mq(md) {
    padding: 0 86px;
    background-image: url('/src/common/images/front-page/mv_bg_pc.jpg');
    height: 34.1726619vw;
    max-height: 530px;
  }
  &__ttl {
    color: #fff;
    font-weight: 700;

    @include f.fsz(36, 54);
    @include f.mq(lg) {
      @include f.fsz(40, 60);
    }
  }
}