@use '../../foundation' as f;

.p-mediaUnit {
  margin-bottom: 30px;

  @include f.mq(md) {
    margin-bottom: 60px;
  }
  .p-media {
    margin-top: 30px;

    @include f.mq(md) {
      margin-top: 120px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
.p-media {
  display: flex;
  &--rev {
    flex-direction: row-reverse;
    .p-media__body {
      margin: 0 10px 0 0;

      @include f.mq(md) {
        margin: 0 20px 0 0;
      }
    }
  }
  &__imgWrap {
    width: 42.9850746%;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__body {
    margin: 0 0 0 10px;
    flex: 1;

    @include f.mq(md) {
      margin: 0 0 0 20px;
    }
  }
  &__txt {
    @include f.fsz(16, 23);
  }
}