@use '../../foundation' as f;

.p-picList {
  margin-bottom: 30px;

  @include f.mq(md) {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 100%;
    margin: 20px 0 0 0;

    @include f.mq(md) {
      width: calc((100% - 20px) / 2);
      margin: 20px 0 0 20px;
    }
    @include f.mq(lg) {
      width: calc((100% - 40px) / 3);
    }
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(-n+2) {
      @include f.mq(md) {
        margin-top: 0;
      }
    }
    &:nth-child(2n+1) {
      @include f.mq(md) {
        margin-left: 0;
      }
      @include f.mq(lg) {
        margin-left: 20px;
      }
    }
    &:nth-child(-n+3) {
      @include f.mq(lg) {
        margin-top: 0;
      }
    }
    &:nth-child(3n+1) {
      @include f.mq(lg) {
        margin-left: 0;
      }
    }
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}