@use '../../foundation' as f;

.p-productList {
  li {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.p-productItem {
  width: 100%;

  @include f.mq(md) {
    display: flex;
  }
  &__imgWrap {
    width: 100%;

    @include f.mq(md) {
      width: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      object-fit: cover;
    }
  }
  &__body {
    background-color: #3c2b1c;
    color: #fff;
    padding: 30px 17px 44px;

    @include f.mq(md) {
      width: 50%;
      padding: 30px 35px 40px;
    }
    @include f.mq(lg) {
      padding: 53px 63px 60px;
    }
  }
  &__name {
    margin-bottom: 24px;
    font-weight: 700;

    @include f.fsz(20, 30);
    @include f.mq(lg) {
      margin-bottom: 47px;

      @include f.fsz(36, 54);
    }
  }
  &__ttl {
    margin-bottom: 10px;
    font-weight: 700;

    @include f.fsz(16, 23);
    @include f.mq(lg) {
      margin-bottom: 17px;

      @include f.fsz(24, 36);
    }
  }
  &__txt {
    width: 81.7275748%;
    margin-bottom: 40px;

    @include f.fsz(16, 23);
    @include f.mq(md) {
      width: 92.2077922%;
      margin-bottom: 45px;
    }
    @include f.mq(lg) {
      margin-bottom: 60px;
    }
  }
  &__btn {
    display: block;
    width: 163px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: f.$gray;
    font-weight: 700;

    @include f.fsz(16, 17);
    @include f.mq(lg) {
      width: 292px;
      padding: 27px 10px;
      border-radius: 40px;

      @include f.fsz(16, 33);
    }
  }
}