@use '../../foundation' as f;

.p-table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid f.$gray;

  @include f.mq(md) {
    margin-bottom: 60px;
  }
  tr {
    &:last-child {
      th, td {
        border-bottom: none;
      }
    }
  }
  th, td {
    padding: 30px;

    @include f.fsz(16, 23);
  }
  th {
    width: 40.2985075%;
    border-right: 1px solid f.$gray;
    border-bottom: 1px solid f.$gray;
    font-weight: 400;
    text-align: left;

    @include f.mq(md) {
      width: 30.1542777%;
    }
    @include f.mq(lg) {
      width: 31.7073171%;
    }
  }
  td {
    border-bottom: 1px solid f.$gray;
  }
}