@use '../foundation' as f;

.l-cont {
  width: calc(100% - 40px);
  max-width: 1330px;
  margin: 0 auto;

  @include f.mq(md) {
    width: calc(100% - 80px);
  }
  @include f.mq(lg) {
    width: calc(100% - 14.1661301%);
  }
  > *:last-child {
    margin-bottom: 0;
  }
}