@use '../foundation' as f;

.l-header {
  position: relative;
  padding: 40px 27px;
  background-color: #fff7ef;

  @include f.mq(lg) {
    width: calc(100% - 367px);
    padding: 65px 30px 65px 65px;
  }
  &__inner {
    @include f.mq(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__ttl {
    text-align: center;
    margin: 0 0 38px 0;

    @include f.mq(lg) {
      margin: 0 40px 0 0;
    }
    a {
      text-decoration: none;
      color: f.$gray;
      font-family: f.$roboto;

      @include f.fsz(40, 53);
      @include f.mq(lg) {
        @include f.fsz(64, 84);
      }
    }
  }
  &__search {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;

    @include f.mq(lg) {
      margin: 0;
    }
    form {
      width: 100%;
      display: flex;
    }
  }
  &__input {
    position: relative;
    flex: 1;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      display: block;
      width: 24px;
      height: 24px;
      background: url('/src/common/images/icon_search.svg') no-repeat center;
      background-size: 24px 24px;
    }
    input {
      width: 100%;
      border-radius: 10px;
      border: 1px solid f.$gray;
      padding: 11px 11px 11px 50px;
      outline: none;
    }
  }
  &__submit {
    width: 78px;
    padding: 11px 16px;
    margin-left: 12px;
    color: f.$gray;
    font-family: f.$mPlus;
    font-weight: 700;
    background: linear-gradient(to bottom, #f2ede9, #ded8d3);
    border-radius: 10px;
    border: 1px solid f.$gray;
    outline: none;
    appearance: none;
    cursor: pointer;

    @include f.mq(md) {
      width: 136px;
    }
  }
  &__menuToggle {
    position: absolute;
    top: 14px;
    right: 16px;

    @include f.mq(md) {
      top: 18px;
      right: 26px;
    }
    @include f.mq(lg) {
      display: none;
    }
    button {
      appearance: none;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
      color: f.$gray;
      font-family: f.$roboto;
      cursor: pointer;

      @include f.fsz(20, 26);
      @include f.mq(md) {
        @include f.fsz(34, 45);
      }
    }
  }
}